In [3]:
import pandas as pd

# Load the datasets
dfa = pd.read_csv('cleaned_projects.csv')
dfb = pd.read_csv('essays_feature.csv')
dfc = pd.read_csv('cleaned_donations.csv')
dfd = pd.read_csv('feature_matrix_resource_outcome.csv')
dfe = pd.read_csv('outcomes_cleaned.csv')

# Merge them on 'projectid' using an inner join (you can change to 'outer', 'left', etc. depending on your use case)
merged_df = dfa.merge(dfb, on='projectid', how='inner') \
               .merge(dfc, on='projectid', how='inner') \
               .merge(dfd, on='projectid', how='inner') \
               .merge(dfe, on='projectid', how='inner')

In [4]:
dfa.columns

Index(['projectid', 'teacher_acctid', 'schoolid', 'resource_type',
       'poverty_level', 'students_reached'],
      dtype='object')

In [5]:
dfb.columns

Index(['projectid', 'teacher_acctid', 'need_statement', 'essay'], dtype='object')

In [6]:
dfc.columns

Index(['donationid', 'projectid', 'donor_acctid', 'donor_state',
       'donation_total'],
      dtype='object')

In [7]:
dfd.columns

Index(['projectid', 'fully_funded_bin', 'resource_cost_sum',
       'item_quantity_sum'],
      dtype='object')

In [8]:
dfe.columns

Index(['projectid', 'fully_funded_bin'], dtype='object')

In [9]:
# View the result
print(merged_df.head())

# Optionally, save the combined dataset
merged_df.to_csv('combined_dataset.csv', index=False)

                          projectid                  teacher_acctid_x  \
0  62526d85d2a1818432d03d600969e99c  ebc7c90b6c92a069432e0714b8d93dfd
1  62526d85d2a1818432d03d600969e99c  ebc7c90b6c92a069432e0714b8d93dfd
2  62526d85d2a1818432d03d600969e99c  ebc7c90b6c92a069432e0714b8d93dfd
3  62526d85d2a1818432d03d600969e99c  ebc7c90b6c92a069432e0714b8d93dfd
4  62526d85d2a1818432d03d600969e99c  ebc7c90b6c92a069432e0714b8d93dfd

                           schoolid resource_type     poverty_level  \
0  5aca9711ff0e4b37db48701f46f73036         Other  moderate poverty
1  5aca9711ff0e4b37db48701f46f73036         Other  moderate poverty
2  5aca9711ff0e4b37db48701f46f73036         Other  moderate poverty
3  5aca9711ff0e4b37db48701f46f73036         Other  moderate poverty
4  5aca9711ff0e4b37db48701f46f73036         Other  moderate poverty

   students_reached                  teacher_acctid_y  \
0               7.0  ebc7c90b6c92a069432e0714b8d93dfd
1               7.0  ebc7c90b6c92a069432e0714b8d93dfd
2               7.0  ebc7c90b6c92a069432e0714b8d93dfd
3               7.0  ebc7c90b6c92a069432e0714b8d93dfd
4               7.0  ebc7c90b6c92a069432e0714b8d93dfd

                                      need_statement  \
0  My students need puzzles, games and visual lea...
1  My students need puzzles, games and visual lea...
2  My students need puzzles, games and visual lea...
3  My students need puzzles, games and visual lea...
4  My students need puzzles, games and visual lea...

                                               essay  \
0  If they can't learn the way we teach, we teach...
1  If they can't learn the way we teach, we teach...
2  If they can't learn the way we teach, we teach...
3  If they can't learn the way we teach, we teach...
4  If they can't learn the way we teach, we teach...

                         donationid                      donor_acctid  \
0  2bbaa331debd623d7d83025d52cbc9a3  e80af607484e0830609005d5ff40c752
1  fdd8ca62e1fcbcb463f34ea03aafaf80  02d83577c0e9d97a256a90a81d6b86ab
2  cfae0df1b307782f5994dacf28641272  0e22b3e4f6722e5476e41ff6a0708858
3  c0d3d330642ee7eb4ff9fe1af05d4611  4ab8cfa71a54070432a9ee01e9209722
4  33834db00d9e11bddbe2d9c4b1390b84  27a8b987df47f534039a1e0f0d4b9124

  donor_state  donation_total  fully_funded_bin_x  resource_cost_sum  \
0          IL           50.00                   1             408.24
1          NY          292.78                   1             408.24
2          IL           55.00                   1             408.24
3          IL           25.00                   1             408.24
4          IL           50.00                   1             408.24

   item_quantity_sum  fully_funded_bin_y
0               16.0                   1
1               16.0                   1
2               16.0                   1
3               16.0                   1
4               16.0                   1

In [10]:
merged_df.head()

,projectid,teacher_acctid_x,schoolid,resource_type,poverty_level,students_reached,teacher_acctid_y,need_statement,essay,donationid,donor_acctid,donor_state,donation_total,fully_funded_bin_x,resource_cost_sum,item_quantity_sum,fully_funded_bin_y
0,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,ebc7c90b6c92a069432e0714b8d93dfd,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",2bbaa331debd623d7d83025d52cbc9a3,e80af607484e0830609005d5ff40c752,IL,50.00,1,408.24,16.0,1
1,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,ebc7c90b6c92a069432e0714b8d93dfd,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",fdd8ca62e1fcbcb463f34ea03aafaf80,02d83577c0e9d97a256a90a81d6b86ab,NY,292.78,1,408.24,16.0,1
2,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,ebc7c90b6c92a069432e0714b8d93dfd,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",cfae0df1b307782f5994dacf28641272,0e22b3e4f6722e5476e41ff6a0708858,IL,55.00,1,408.24,16.0,1
3,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,ebc7c90b6c92a069432e0714b8d93dfd,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",c0d3d330642ee7eb4ff9fe1af05d4611,4ab8cfa71a54070432a9ee01e9209722,IL,25.00,1,408.24,16.0,1
4,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,ebc7c90b6c92a069432e0714b8d93dfd,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",33834db00d9e11bddbe2d9c4b1390b84,27a8b987df47f534039a1e0f0d4b9124,IL,50.00,1,408.24,16.0,1

In [11]:
is_unique = not merged_df.duplicated().any()
print("All rows are unique:", is_unique)

All rows are unique: True

In [12]:
merged_df.shape

(3096458, 17)

In [13]:
merged_df.columns

Index(['projectid', 'teacher_acctid_x', 'schoolid', 'resource_type',
       'poverty_level', 'students_reached', 'teacher_acctid_y',
       'need_statement', 'essay', 'donationid', 'donor_acctid', 'donor_state',
       'donation_total', 'fully_funded_bin_x', 'resource_cost_sum',
       'item_quantity_sum', 'fully_funded_bin_y'],
      dtype='object')

In [14]:
dropit = merged_df.drop(columns=[ 'teacher_acctid_y'], inplace=True)

In [15]:
merged_df.columns

Index(['projectid', 'teacher_acctid_x', 'schoolid', 'resource_type',
       'poverty_level', 'students_reached', 'need_statement', 'essay',
       'donationid', 'donor_acctid', 'donor_state', 'donation_total',
       'fully_funded_bin_x', 'resource_cost_sum', 'item_quantity_sum',
       'fully_funded_bin_y'],
      dtype='object')

In [16]:
merged_df.shape

(3096458, 16)

In [17]:
merged_df.to_csv('combined_dataset_new.csv', index=False)

In [18]:
for col in merged_df.columns:
    print(f"Is {col} unique?", merged_df[col].is_unique)

Is projectid unique? False
Is teacher_acctid_x unique? False
Is schoolid unique? False
Is resource_type unique? False
Is poverty_level unique? False
Is students_reached unique? False
Is need_statement unique? False
Is essay unique? False
Is donationid unique? True
Is donor_acctid unique? False
Is donor_state unique? False
Is donation_total unique? False
Is fully_funded_bin_x unique? False
Is resource_cost_sum unique? False
Is item_quantity_sum unique? False
Is fully_funded_bin_y unique? False

In [19]:
merged_df.head(5)

,projectid,teacher_acctid_x,schoolid,resource_type,poverty_level,students_reached,need_statement,essay,donationid,donor_acctid,donor_state,donation_total,fully_funded_bin_x,resource_cost_sum,item_quantity_sum,fully_funded_bin_y
0,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",2bbaa331debd623d7d83025d52cbc9a3,e80af607484e0830609005d5ff40c752,IL,50.00,1,408.24,16.0,1
1,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",fdd8ca62e1fcbcb463f34ea03aafaf80,02d83577c0e9d97a256a90a81d6b86ab,NY,292.78,1,408.24,16.0,1
2,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",cfae0df1b307782f5994dacf28641272,0e22b3e4f6722e5476e41ff6a0708858,IL,55.00,1,408.24,16.0,1
3,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",c0d3d330642ee7eb4ff9fe1af05d4611,4ab8cfa71a54070432a9ee01e9209722,IL,25.00,1,408.24,16.0,1
4,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",33834db00d9e11bddbe2d9c4b1390b84,27a8b987df47f534039a1e0f0d4b9124,IL,50.00,1,408.24,16.0,1

In [20]:
merged_df.shape

(3096458, 16)

In [21]:
merged_df

,projectid,teacher_acctid_x,schoolid,resource_type,poverty_level,students_reached,need_statement,essay,donationid,donor_acctid,donor_state,donation_total,fully_funded_bin_x,resource_cost_sum,item_quantity_sum,fully_funded_bin_y
0,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",2bbaa331debd623d7d83025d52cbc9a3,e80af607484e0830609005d5ff40c752,IL,50.00,1,408.24,16.0,1
1,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",fdd8ca62e1fcbcb463f34ea03aafaf80,02d83577c0e9d97a256a90a81d6b86ab,NY,292.78,1,408.24,16.0,1
2,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",cfae0df1b307782f5994dacf28641272,0e22b3e4f6722e5476e41ff6a0708858,IL,55.00,1,408.24,16.0,1
3,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",c0d3d330642ee7eb4ff9fe1af05d4611,4ab8cfa71a54070432a9ee01e9209722,IL,25.00,1,408.24,16.0,1
4,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",33834db00d9e11bddbe2d9c4b1390b84,27a8b987df47f534039a1e0f0d4b9124,IL,50.00,1,408.24,16.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3096453,a7236ea96c812895cafc5d700d779147,c4f90a541cb81e68cd7ad180309985ae,a1e14d253e77ffccc074705527845b4a,Supplies,highest poverty,0.0,"The cost of this proposal is [price], includin...",My name is Mary Reide. I am a New York City T...,eb2cd08653ad0548dc04c58b0508fb0f,c2dab1c2de3fffeffa64ed2e095a963b,NY,254.00,1,0.00,0.0,1
3096454,e02da37beb332eb66c2d2ba989c597ad,d95c94eea994274d614be50bddd89973,bbd70e92262f0f0a342df5d1f3119d8e,Technology,highest poverty,0.0,"The cost of this proposal is $1377, including ...",I teach economics to 25 students at Satellite ...,be0020e2485acd44cdb30f3e75006023,ed7fc45ea1434692daf4d48f87aa9c0a,MA,1241.00,1,0.00,0.0,1
3096455,82e536f14eadf2671a70e03416f695a3,b00d2790934ce7487c99bc9d6e1d5d4d,0c5b1a4b6985dcd42c72b732c774474c,Supplies,moderate poverty,0.0,"The cost of this proposal is [price], includin...",I just returned from 3 weeks in S. Africa. I ...,83b1a3820891a0822945f882f7426a97,cd74875a5e9b045abd9c6874d81a060f,NJ,125.00,1,0.00,0.0,1
3096456,e139df754a873a62d93daa56acbf8040,e5476c2ef97b33614445a17554535adc,a81c26262a3ad70702a8f14e5329b023,Books,highest poverty,0.0,"The cost of this proposal is [price], includin...",I teach 9th grade Humanities at Vanguard High ...,355d2b72ded3539d1c7b4b0a7fe63657,0909356fe7d6aea7671e744de53f861c,NY,137.00,1,0.00,0.0,1
3096457,77558a6eda151deee9a00553f7fccfc7,21abe0cd2a09a218888d2c4659c58f43,873147e8c4c1ce73bd10eab2ffe8577e,Supplies,highest poverty,0.0,"The cost of this proposal is [price], includin...",I am a first year teacher assigned to the 6th ...,6dca8bbe8635120273b6144063d879a5,895ed1650f83221e70516f7fa8819118,NY,251.90,1,0.00,0.0,1

In [22]:
merged_df.head(3)

,projectid,teacher_acctid_x,schoolid,resource_type,poverty_level,students_reached,need_statement,essay,donationid,donor_acctid,donor_state,donation_total,fully_funded_bin_x,resource_cost_sum,item_quantity_sum,fully_funded_bin_y
0,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",2bbaa331debd623d7d83025d52cbc9a3,e80af607484e0830609005d5ff40c752,IL,50.00,1,408.24,16.0,1
1,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",fdd8ca62e1fcbcb463f34ea03aafaf80,02d83577c0e9d97a256a90a81d6b86ab,NY,292.78,1,408.24,16.0,1
2,62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,Other,moderate poverty,7.0,"My students need puzzles, games and visual lea...","If they can't learn the way we teach, we teach...",cfae0df1b307782f5994dacf28641272,0e22b3e4f6722e5476e41ff6a0708858,IL,55.00,1,408.24,16.0,1

In [23]:
dropit_new = merged_df.drop(columns=['teacher_acctid_x','schoolid', 'resource_type', 'poverty_level', 'students_reached', 'need_statement', 'donor_acctid', 'donor_state', 'donation_total','resource_cost_sum', 'fully_funded_bin_y', 'item_quantity_sum'], inplace=True)

In [24]:
merged_df.head()

,projectid,essay,donationid,fully_funded_bin_x
0,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",2bbaa331debd623d7d83025d52cbc9a3,1
1,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",fdd8ca62e1fcbcb463f34ea03aafaf80,1
2,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",cfae0df1b307782f5994dacf28641272,1
3,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",c0d3d330642ee7eb4ff9fe1af05d4611,1
4,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",33834db00d9e11bddbe2d9c4b1390b84,1

# Essay Word Count

In [25]:
# Convert 'essay' column into number of words
merged_df['essay_word_count'] = merged_df['essay'].apply(lambda x: len(str(x).split()))

In [26]:
merged_df.tail()

,projectid,essay,donationid,fully_funded_bin_x,essay_word_count
3096453,a7236ea96c812895cafc5d700d779147,My name is Mary Reide. I am a New York City T...,eb2cd08653ad0548dc04c58b0508fb0f,1,247
3096454,e02da37beb332eb66c2d2ba989c597ad,I teach economics to 25 students at Satellite ...,be0020e2485acd44cdb30f3e75006023,1,395
3096455,82e536f14eadf2671a70e03416f695a3,I just returned from 3 weeks in S. Africa. I ...,83b1a3820891a0822945f882f7426a97,1,221
3096456,e139df754a873a62d93daa56acbf8040,I teach 9th grade Humanities at Vanguard High ...,355d2b72ded3539d1c7b4b0a7fe63657,1,381
3096457,77558a6eda151deee9a00553f7fccfc7,I am a first year teacher assigned to the 6th ...,6dca8bbe8635120273b6144063d879a5,1,227

# Grouping the the donations made per project and creating this new feature called num_donation which donates the number of donations made to a project

In [27]:
# Step 1: Create num_donations by grouping by projectid
donation_counts = merged_df.groupby('projectid')['donationid'].count().reset_index()
donation_counts.rename(columns={'donationid': 'num_donations'}, inplace=True)

In [28]:
merged_df = merged_df.merge(donation_counts, on='projectid', how='left')

In [29]:
merged_df.head()

,projectid,essay,donationid,fully_funded_bin_x,essay_word_count,num_donations
0,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",2bbaa331debd623d7d83025d52cbc9a3,1,222,6
1,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",fdd8ca62e1fcbcb463f34ea03aafaf80,1,222,6
2,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",cfae0df1b307782f5994dacf28641272,1,222,6
3,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",c0d3d330642ee7eb4ff9fe1af05d4611,1,222,6
4,62526d85d2a1818432d03d600969e99c,"If they can't learn the way we teach, we teach...",33834db00d9e11bddbe2d9c4b1390b84,1,222,6

In [39]:
project3_df = merged_df.groupby('projectid').agg({
    'fully_funded_bin_x': 'first',  # Target variable
    'donationid': 'count',
    'essay_word_count':'first'          # Simple feature: number of donations
}).rename(columns={'donationid': 'num_donations'})

In [40]:
project3_df.head(10)

,fully_funded_bin_x,num_donations,essay_word_count
projectid,,,
00001ccc0e81598c4bd86bacb94d7acb,1,3,239
00002bff514104264a6b798356fdd893,1,2,288
00002d691c05c51a5fdfbb2baef0ba25,0,5,197
0000b38bbc7252972f7984848cf58098,1,2,355
0000ee613c92ddc5298bf63142996a5c,1,6,386
0000fa3aa8f6649abab23615b546016d,1,6,276
0000fb6aea57099cc5b051acb7f52a9e,1,9,389
0001120447a33dd9ffeefa107ed04c43,1,2,295
0001146d343ea9452089d0e302496c06,0,2,440
0001151477ea5349a0aa64ed1d83f0bc,1,3,201

In [43]:
# Step 2: Create feature matrix X and target vector y
X = project3_df[['num_donations','essay_word_count']]      # Feature(s)
y = project3_df['fully_funded_bin_x']

In [44]:
print(X)

                                  num_donations  essay_word_count
projectid
00001ccc0e81598c4bd86bacb94d7acb              3               239
00002bff514104264a6b798356fdd893              2               288
00002d691c05c51a5fdfbb2baef0ba25              5               197
0000b38bbc7252972f7984848cf58098              2               355
0000ee613c92ddc5298bf63142996a5c              6               386
...                                         ...               ...
fffeebf4827d745aa36b17c2d38d1966              1               203
ffff2d9c769c8fb5335e949c615425eb             11               465
ffff418bb42fad24347527ad96100f81              1               183
ffff97ed93720407d70a2787475932b0              4               226
ffffac55ee02a49d1abc87ba6fc61135              7               199

[524115 rows x 2 columns]

# Baseline Model

# Regression

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Baseline model
clf = LogisticRegression(class_weight='balanced')
clf.fit(X_train, y_train)

# Predict and evaluate
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.26      0.81      0.39     28589
           1       0.92      0.48      0.63    128646

    accuracy                           0.54    157235
   macro avg       0.59      0.64      0.51    157235
weighted avg       0.80      0.54      0.59    157235

# Random Forest

In [46]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Train Random Forest
rf = RandomForestClassifier(class_weight='balanced', random_state=42)
rf.fit(X_train, y_train)

# Predict and evaluate
y_pred = rf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.27      0.70      0.39     28589
           1       0.90      0.58      0.70    128646

    accuracy                           0.60    157235
   macro avg       0.58      0.64      0.55    157235
weighted avg       0.78      0.60      0.65    157235

# XGBoost

In [36]:
pip install xgboost

Requirement already satisfied: xgboost in /opt/anaconda3/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [47]:
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

# Train XGBoost
xgb = XGBClassifier(
    objective='binary:logistic',
    
    scale_pos_weight=(y == 0).sum() / (y == 1).sum(),  # handle class imbalance
    use_label_encoder=False,
    eval_metric='logloss',
    random_state=42
)
xgb.fit(X_train, y_train)

# Predict and evaluate
y_pred = xgb.predict(X_test)
print(classification_report(y_test, y_pred))

/opt/anaconda3/lib/python3.12/site-packages/xgboost/training.py:183: UserWarning: [22:31:00] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

              precision    recall  f1-score   support

           0       0.28      0.73      0.40     28589
           1       0.90      0.58      0.70    128646

    accuracy                           0.60    157235
   macro avg       0.59      0.65      0.55    157235
weighted avg       0.79      0.60      0.65    157235

In [49]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report

# Train Gradient Boosting
gb = GradientBoostingClassifier(
    random_state=42
)
gb.fit(X_train, y_train)

# Predict and evaluate
y_pred = gb.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     28589
           1       0.82      1.00      0.90    128646

    accuracy                           0.82    157235
   macro avg       0.41      0.50      0.45    157235
weighted avg       0.67      0.82      0.74    157235

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))